body {
    font-family: 'JetBrainsMono Nerd Font Mono', monospace;
}

/* styles.css */
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

p {
    margin: 5px 0;
}



